config NUBIA_SENSORS_FP_GF3258
        tristate "nubia sensors fp gf3258"
        depends on NUBIA_SENSORS_FP
        default n
        help
          This is the main file for fingerprint driver for gf3258.
          Say Y here if you have a gf3258 fingerprint connected
          to your system.
